<div class="container"></div>
  <div class="error-messages">
    <% if @user.errors.any? %>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="user-profile col-md-8 col-centered">
    <h2>Edit your profile</h2><br>
    <div class="edit-form-fields">
      <%= form_for [@user] do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email %>
        </div>
        <%= f.submit class: "btn" %>
        <%= link_to "Back", root_path, class: "btn" %>
    </div>
    <% end %>
    <%= link_to "Delete my account", user_path(current_user.id), method: :delete, data: { confirm: "Woah woah woah. Are you sure?" } %>
  </div>
</div>