<div class="container">
  <div class="row">
    <%= content_tag :div, id: "marker-data", data: {markers: @markers_info} do %>
    <% end %>
    <div id="map-canvas" style="height:400px;"></div>
    <div class="article-list col-md-8 col-centered">
    <h2><%= @book.title %></h2>
    	<l class="list-unstyled"><% @articles.each.with_index do |article, i| %>
        <div class="article-item">
          <li><h3><%= link_to "#{i + 1}. #{article.title}", article.url, target: 'blank', class: "#{article.pageid} article-title" %></h3></li>
          <%= content_tag :div, class: "article-intro", id: article.pageid do %> 
            <%= content_tag :p, class: "article-intro-text" do %>
              <%= article.intro %>
              <% end %>
          <%end%>
          <%= content_tag :button, class: "btn-show-article #{article.pageid} btn highlight-btn" do%>
            Preview <span class="caret"></span>
          <% end %>
          <%= content_tag :button, class: "btn-hide-article #{article.pageid} btn reverse-highlight-btn" do%>
            Hide <span class="dropup"><span class="caret"></span></span> 
          <% end %>
          <a href="<%= article.url %>" class="btn-open-wikipedia btn" target="blank"> 
            Full Article <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
          </a>

          <%= link_to user_book_article_path(current_user, @book, article), :method => :delete, class: "btn delete-article-btn" do %>
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          <% end %>
        </div>
    	<% end %>
    	</ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-centered book-btns">
      <%= link_to "Back", user_books_path(current_user.id), class: "btn btn-back" %>
      <%= link_to book_export_path(:format => "pdf"), { type: "button", class: "export-book-btn #{@book.id} btn highlight-btn"} do %>
          Open as PDF <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
      <% end %>
    </div>
  </div>
</div>
