<h1><%= @book.title %></h1>
<div class="article-list">
	<ul><% @articles.each do |article| %>
    <div class="article-item">
  		<li><%= link_to article.title, article.url, target: 'blank' %></li>
      <%= content_tag :div, class: "article-iframe", id: article.id do %>
      <%end%>
      <%= content_tag :button, class: article.id do%> Show article<% end %>
    </div>
	<% end %>
	</ul>
</div>

<%= link_to "Back", root_path %>
