<% if @users.errors.any? %>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @search, url: new_search_path do |f| %>
  <div class="form-group">
    <%= f.label :query %>
    <%= f.text_field :query %>
  </div>
  <%= f.submit %>
<% end %>
