
<div class="initial-search col-md-12">
  <div class="title-area">
    <h1><span class="light">Wiki </span><span class="heavy">To Go</span></h1>
    <ul class="list-unstyled">
      <li><h3>search wikipedia by location</h3></li>
      <li><h3>save your favourite articles</h3></li>
      <li><h3>export your saved articles to take with you</h3></li>
    </ul>

    <div class="search-coords">

      <%= button_tag id: "get-loc", class: "btn btn-default highlight-btn" do %>
        Search near you <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
      <% end %>
      <%= form_tag("/search", method: "get", id: 'search', class: 'form-inline') do %>
        <%= text_field_tag :query, nil, placeholder: "Search by location", id: 'search-query' %>
      <%end%>
    </div>
  </div>
</div>

<nav class="navbar-secondary navbar" style="z-index: 4;">
  <div class="container-fluid"> 
    <div class="navbar-header">
      <ul class="nav navbar-nav navbar-left">
        <li>
          <a href="#" id="show-search-btn">Search again <span class="glyphicon glyphicon-search" aria-hidden="true"></span></a> 
        </li>
        <li> 
          <a href="#" id="switch-results-view">
            <span id="list-view-text">List view </span>
            <span id="map-view-text" style="display: none;">Map view</span>
            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
          </a>
        </li>
        <li class="dropdown current-collection">
          <a href="#" class="dropdown-toggle menu-white-text" data-toggle="dropdown" role="button" aria-expanded="false"> Articles (<span id="article-count">0</span>)</a>
            <ul class="dropdown-menu" role="menu">
              <li id="placeholder"><a>You haven't added any articles yet</a></li>
              <li id="save-articles-collection" style="display: none;" data-toggle="modal" data-target="#save-book-modal"><a>Save these articles</a></li>
            </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div id="search-menu">
  <%= render 'search_menu' %>
</div>

<div class="row cover">
  <div class="map-area map-area-intro">
    <div class="map-loader"></div>
    <div id="map-canvas" style="width: 100%; height: 100%"> </div>
    <div id="results-list" style="width: 100%; height: 100%; display: none;"> </div>
  </div>
  <div id="info-preview" class="col-md-3 col-sm-3 col-xs-12 intro-text" style="display: none;">
    <h3>See something interesting?</h3>
    <% if current_user %>
    <%= render 'intro_loggedin' %>
    <% else %>
    <%= render 'intro_loggedout' %>
    <% end %>
  </div>
</div>
<div class="row">

  <div class="all-results col-md-8 col-centered">  
    <div id="results"></div> 
  </div>

</div>

<%= render 'save_book_modal' %>

