<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Wiki To Go</a>
    </div>
    <%if session[:name] %>
          <%= render 'sessions/logout' %>
    <% else %>
          <%= render 'sessions/login' %>
    <% end %>
  </div>
</nav>

<div class="search_coords col-md-6">
	<button id="get-loc" class="btn btn-default">Search near you</button>
</div>

<div class="seach_query col-md-6">
	<div class="search_form">
		<%= form_tag("/search", method: "get", :id => 'search', class: 'form-inline') do %>
		  <%= text_field_tag :query, nil, placeholder: "Enter a city", class: 'form-control' %>
		  <%= submit_tag "Search", id: "search-query", class: 'btn btn-default' %>
		<%end%>
	</div>
</div>

<div class="map-area">
	<div id="map-canvas" style="width: 100%; height: 100%"> </div>
</div>

<div class="user-selected-articles col-md-4">
  <%= render 'selected_articles' %>
</div>

<div class="all-results col-md-6">  
  <div id="results"></div>  
</div>


<% if current_user %>
  <script>
    window.UserId = <%= current_user.id %>;
  </script>
<%end %>

