<%= react_component('SecondaryNavbar') %>

<div id="search-menu">
  <%= render 'search_menu' %>
</div>

<div class="row cover">
  <div class="map-area map-area-intro">
    <div class="map-loader"></div>
    <div id="map-canvas" style="width: 100%; height: 100%"> </div>
    <div id="results-list" style="width: 100%; height: 100%; display: none;"> </div>
  </div>
  <div id="info-preview" class="col-md-3 col-sm-3 col-xs-12 intro-text" style="display: none;">
    <h3>See something interesting?</h3>
    <% if user_signed_in? %>
    <%= render 'intro_loggedin' %>
    <% else %>
    <%= render 'intro_loggedout' %>
    <% end %>
  </div>
</div>


<%= render 'save_book_modal' %>

